*{
  box-sizing: border-box;
  margin: 0;
}
html {
  height: 100%;
}
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
body {
font-family: 'Open Sans', sans-serif;
box-sizing: border-box;
font-weight: 500;
font-size: 18px;
height: 100%;
position: relative;

} 
img {
  width: 100%;
}
a {
  text-decoration: none;
  color: #000;
}
h1{
font-size:36px;
font-weight: 500;
}
.responsive {
  width: 100%;
  height: auto;
}
@media only screen and (max-width: 768px) {
  h1{
    font-size:28px;
    }
}
/* header */
.navbar input[type="checkbox"],
.navbar .hamburger-lines {
display: none;
}
.logo {
font-size: 30px;
margin: 0;
}
.navbar {
  position: fixed;
  background-color: white;
  opacity: 1;
  width: 100%;
  top: 0;
  z-index: 99999;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 1%), 0 6px 10px 0 rgb(0 0 0 / 1%);
}
.navbar a {
color: rgb(0, 0, 0);
text-decoration: none;
transition: color 0.3s ease-in-out;
}
.navbar-container {
display: flex;
justify-content: space-between;;
align-items: center;
height: 60px;
}
.navbar a:hover {
color: #0088a9;
}
.container {
max-width: 1200px;
width: 100%;
margin: auto;
}
@media only screen and (max-width: 1200px) {
  .container {  
    padding: 0 20px 0 20px!important;
  }
}
@media only screen and (max-width: 1030px) {
  .menu-items {
    display: flex;
    margin-left: 0%!important;
  }
}
@media only screen and (max-width: 880px) {
  .menu-items {
    display: flex;
    /* margin-left: 30%!important; */
  }
}
@media only screen and (max-width: 768px) {
  .menu-items {
    display: flex;
    margin-left: 0;
  }
}
.menu-items {
display: flex;
margin-left: 30%;
}
.menu-items li {
list-style: none;
margin-left: 36px;
display: flex;
align-items: center;
}
.menu-items li span:hover {
  border-bottom: 4px solid black;
  padding-bottom: 10px;
}
.icons a {
margin-left: 26px;
}
.badge {
  position: absolute;
  margin: -6px 0 0 0;
  font-size: 18px;
  background-color: black;
  border-radius: 50%;
  padding: 0px 6px;
  color: white;
}
@media only screen and (max-width: 768px) {
  .navbar-container input[type="checkbox"],
  .navbar-container .hamburger-lines {
    display: block;
  }
  .container {
    max-width: 728px;
    width: 100%;
  }
  .navbar-container {
    display: block;
    height: 54px;
  }
  .navbar-container input[type="checkbox"] {
    position: absolute;
    display: block;
    height: 32px;
    width: 30px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
  }
  .navbar-container .hamburger-lines {
    display: block;
    height: 20px;
    width: 30px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  .navbar-container .hamburger-lines .line {
    display: block;
    height: 2.5px;
    width: 100%;
    border-radius: 0px;
    background: rgb(0, 0, 0);
  }
  .navbar-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar-container .hamburger-lines .line2 {
    transition: transform 0.1s ease-in-out;
  }
  .navbar-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.3s ease-in-out;
  }
  .navbar .menu-items {
    padding-top: 30px;
    margin-top: 63px;
    background: #ffffff;
    height: 100vh;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    margin-left: -40px!important;
    padding-left: 40px;
    transition: transform 0.5s ease-in-out;
    overflow: scroll;
    box-shadow: 0 4px 20px 0 rgb(0 0 0 / 15%), 0 6px 0px 0 rgb(0 0 0 / 1%);
    position: absolute;
    width: 60%;
    z-index: 4;
  }
  .navbar .menu-items li {
    margin-bottom: 29px;
    font-size: 18px;
  }
  .logo {
    position: absolute;
    right: 45%;
    z-index: 1;
    top: 10px;
  }
  .icons{
    position: absolute;
    top: 10px;
    right: 24px;
    font-size: 18px;
    z-index: 1;
  }
  .user {
    display: none!important;
  }
  .navbar-container input[type="checkbox"]:checked ~ .menu-items {
    transform: translateX(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
    transform: rotate(45deg);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
    transform: scaleY(0);
  }
  .navbar-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
    transform: rotate(-45deg);
  }
}
.hamburger{
display: none;
}
@media (max-width: 768px){
.hamburger input[type="checkbox"],
.hamburger .hamburger-lines {
  display: block;
}
.icons a {
  margin-left: 15px;
}
}
/* .navbar-bottom {
  margin-bottom: 72px;
} */
@media only screen and (max-width: 360px)  {
.icons a {
  margin-left: 5px;
}
.container, .hero-text {
  max-width: 640px;
  width: 100%;
  margin: auto;
  padding: 0 20px 20px;
}
.navbar .menu-items {
  width: 60%;
}
}
/* header */
/* message */
.alert {
  padding: 20px;
  background-color: #04AA6D;
  color: white;
}
.closebtn {
  margin-left: 15px;
  color: white;
  font-weight: bold;
  float: right;
  font-size: 22px;
  line-height: 20px;
  cursor: pointer;
  transition: 0.3s;
}
.closebtn:hover {
  color: black;
}
/* end message */
/* products */
.hero-button {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  padding: 8px 30px;
}

.icons span{
  margin-left: 6px;
}

/* list video  */
.training_options {
  position: relative;
  margin-top: 55px;
}

.text {
  color: #f2f2f2;
  font-size: 36px;
  padding: 8px 12px;
  position: absolute;
  bottom: 50%;
  width: 100%;
  text-align: center;
}
.title_option {
  font-size: 36px;
  text-align: center;
  margin: 26px 0 26px 0;
}
.grid-container {
  display: grid;
  grid-template-columns: auto auto auto ;
  grid-row-gap: 50px;
  grid-column-gap: 20px;
}

.grid-container > div {
  text-align: center;
  padding: 20px 0;
}
.got_course {
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  transition-duration: 0.4s;
  cursor: pointer;
}

.got_course1 {
  background-color: white; 
  color: black; 
  border: 2px solid #4CAF50;
  width: 100%;
}

.got_course1:hover {
  background-color: #4CAF50;
  color: white;
}

@media only screen and (max-width: 988px) {
  .grid-container {
    grid-template-columns: auto auto ;
  }
}
@media only screen and (max-width: 664px) {
  .grid-container {
    grid-template-columns: auto ;
  }
}
/* end list video */

/* home page */
 .home_hero_image {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("/static/images/fitness_website_option4.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 100%;
}

.home_hero_text {
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
}
.home_hero_text p {
margin: 26px 0 26px 0;
}
.home_hero_text button {
  border: none;
  outline: 0;
  display: inline-block;
  padding: 10px 25px;
  color: black;
  background-color: #ddd;
  text-align: center;
  cursor: pointer;
}

.home_hero_text button:hover {
  background-color: #555;
  color: white;
} 
/* end home page */
/* course detail */

.course_detail ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.course_detail ul li{
  margin-top: -1px; 
  padding: 12px 0 12px 0 ;
}

#square_icon {
  margin-right: 10px;
}
.video_time span {
  margin-right: 10px;
}
.video_time  {
  border-bottom: 1px solid #ddd;
  margin: 10px 0 10px 0;
}
.course_detail_column {
  float: left;
  padding: 10px;
}

.course_detail_left {
  width: 25%;
}

.course_detail_right {
  width: 75%;
}

.course_detail_row {
  margin: 100px 0 26px 0;
}
.course_detail_row:after {
  content: "";
  display: flex;
  clear: both;
}
/* course detail */
/* video detail */
.video {
  padding:56.25% 0 0 0;
  position:relative;
}
.video iframe {
  position:absolute;
  top:0;
  left:0;
  width:100%;
  height:100%;
}

/* end video detail */
/* footer */
.footerr {
    background-color: #373F50;
    color: #fff;
    padding-top: 36px;
  }
.column_footer {
  float: left;
  width: 25%;
  padding: 0 10px;
}
.row_footer {margin: 0 -5px;}
.row_footer:after {
  content: "";
  display: table;
  clear: both;
}
.card_footer a {
  color: #fff;
}
@media screen and (max-width: 768px) {
  .column_footer {
    width: 50%;
    display: block;
    margin-bottom: 20px;
  }
}
.card_footer {
  padding: 16px;
  margin-bottom: 27px;
}
.card_footer h2{
  margin-bottom: 27px;
}
#footer_link {
  margin-bottom: 0!important;
}
.card_footer a {
    margin-right: 10px;
  }
.all_right_reserved {
  display: flex;
  justify-content: center;
  padding: 36px 0 60px;
  margin-top: 36px;
  gap: 50px;
}
.all_right_reserved span {
  color: #ffffff;
  margin-right: 36px;
}
.footer_all_rights_reseverd {
  box-shadow: 0 4px 8px 0 rgb(255 255 255 / 20%), 0 6px 20px 0 rgb(255 255 255 / 19%);
}
/* end footer */