{% extends "base.html" %}
{% load static %}
{% load widget_tweaks %}
{% block content %}
{% load cool_num %}

{% comment %} filter search {% endcomment %}
<section class="py-0">
	<div class="container">
		<div class="card up-hover p-2 mb-2">
			<div class="d-flex justify-content-between my-2">
				<h4 class="m-0">Over <strong class=""> {{ object_list|length }}</strong> products</h4>
				<h4>
					Filters <i class="bi bi-filter"></i>
				</h4>
				<!-- End Button trigger modal -->
			</div>
			<form method="get"  class="px-0 g-3 text-dark"">
				<div class="row">
					<div class="col-md-8">
						{{ filter.form.name.label_tag }}
						{% render_field filter.form.name class="form-control" %}
					</div>
					<div class="col-md-2">
						{{ filter.form.ads_type.label_tag }}
						{% render_field filter.form.ads_type class="form-control" %}
					</div>
					<div class="col-md-2">
						{{ filter.form.button.label_tag }}
						{% render_field filter.form.button class="form-control" %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-2">
						{{ filter.form.gender.label_tag }}
						{% render_field filter.form.gender class="form-control" %}
					</div>
					<div class="col-md-2">
						{{ filter.form.technology.label_tag }}
						{% render_field filter.form.technology class="form-control" %}
					</div>
					<div class="col-md-2">
						{{ filter.form.countries.label_tag }}
						{% render_field filter.form.countries class="form-control" %}
					</div>
					<div class="col-md-2">
						{{ filter.form.language.label_tag }}
						{% render_field filter.form.language class="form-control" %}
					</div>
					<div class="col-md-2">
						{{ filter.form.gender.label_tag }}
						{% render_field filter.form.gender class="form-control" %}
					</div>
					<div class="col-md-2">
						{{ filter.form.language.label_tag }}
						{% render_field filter.form.language class="form-control" %}
					</div>
				</div>
				<div class="row">
					<div class="col-md-3">
						{{ filter.form.last_seen.label_tag }}
						{% render_field filter.form.last_seen class="form-control" %}
					</div>
					<div class="col-md-2 text-dark">
						{{ filter.form.aliexpress_price.label_tag }}
						{% render_field filter.form.aliexpress_price class="form-control" %}
					</div>
					<div class="col-md-2">
						{{ filter.form.age.label_tag }}
						{% render_field filter.form.age class="form-control" %}
					</div>
					<div class="col-md-3">
						{{ filter.form.comment.label_tag }}
						{% render_field filter.form.comment class="form-control" %}
					</div>
					<div class="col-md-2">
						{{ filter.form.likes.label_tag }}
						{% render_field filter.form.likes class="form-control" %}
					</div>
					<div class="d-grid pt-2 col-12 mx-auto">
						<button type="submit" class="btn bg-secondary text-white mb-3">Search</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</section>
{% comment %} End filter search {% endcomment %}


{% comment %} product {% endcomment %}
<section class="py-0">
	<div class="container">
		<div class="row">
			{% comment %} product list {% endcomment %}
			{% for product in object_list %}
				<div class="col-sm-6 col-lg-3">
					<div class='p-2 border'>
					<div class="card p-2 mb-2">
					<div class="mb-2 d-flex justify-content-between">
						<a href="{{ product.links_to_a_single_store }}" class="text-reset">
						<p class="m-0"><img class="avatar-img rounded" style='height: 1.1875rem; width: 1.1875rem;' src="{% static 'assets/images/blog/4by3/07.jpg' %}">  {{ product.store_name|truncatechars:10 }}</p></a>
						<p class="m-0">
							<a href="{{ product.links_to_ads }}" class="">
								{% if product.is_faceBook %}
									<i class="fab fa-facebook-square fs-5 bg-facebook text-white-force"></i>
								{% endif %}
								{% if product.is_instagram %}
								   <i class="fab fa-instagram fs-5 bg-instagram-gradient  text-white-force"></i>
							   {% endif %}
							   {% if product.is_tiktok %}
								<i class="bi bi-tiktok"  style="background-color: Black; color: white;"></i>
							   {% endif %}
						   </a>
							{{ product.last_seen|date }}
						</p>
					</div>	
					<div class="card position-relative">
						{% comment %} <img class="card-img" src="{{ product.thumbnail.url }}" alt="Card image"> {% endcomment %}
						<figure class="figure position-relative">
							<!-- Card play button -->
							<div class="position-absolute top-50 start-50 translate-middle pb-5">
								<!-- Popup video -->
								<a class="btn btn-secondary btn-round" href="#"><i class="fas fa-play"></i></a>
							</div>
							<img class="rounded" src="{{ product.thumbnail.url }}" alt="Image">
							
						</figure>
					</div>
					<div class="card-body px-0">
							<h1 class="card-title h6">
								<a href="{{ product.get_absolute_url }}" class="btn-link text-reset">
									{{ product.name|truncatechars:64 }}
								</a>
							</h1>
						<!-- Card info -->
						<!-- Social widget START -->
						<div class="d-flex justify-content-between">
							<div class="text-center">
								<i class="bi bi-hand-thumbs-up"></i>
								<h6 class="m-0">{{ product.likes|cool_num  }}</h6>
							</div>
							<div class="text-center">
								<i class="bi bi-chat"></i>
								<h6 class="m-0">{{ product.comment|cool_num  }}</h6>
							</div>
							<div class="text-center">
								<i class="bi bi-share"></i>
								<h6 class="m-0">{{ product.share|cool_num  }}</h6>
							</div>
						</div>

						<!-- Social widget END -->
					</div>
					</div>
					</div>
				</div>
			{% endfor %}
			{% comment %} end product list {% endcomment %}
		</div>
	</div>
</section>
{% comment %} End product {% endcomment %}


{% endblock content %}