{% extends "base.html" %}
{% block content %}
{% load cool_num %}
{% load static %}




 <!-- =======================
Main content START -->
<section class="position-relative pt-0">
  <div class="container">
    <div class="row">
      <div class="col-sm-6 col-lg-5">
        <img src="{{ product.thumbnail.url }}" alt="">
      </div>
      <div class="col-sm-6 col-lg-7">
        <h1 class="card-title h4 mb-2">{{ product.name}}</h1>
        <p>Posted {{ product.created_at|timesince }} </p>
        <div class="row row-cols-2 row-cols-lg-3  g-lg-3">
          <div class="col mb-2">
            <div class="p-3 border">
                Likes
                <div class="fw-bold">{{ product.likes|cool_num  }}</div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="p-3 border">
                Orders
                <div class="fw-bold">{{ product.aliexpress_order|cool_num  }}</div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="p-3 border">
                 Share
                <div class="fw-bold">{{ product.share|cool_num  }}</div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="p-3 border">
                Profits
                <div class="fw-bold">${{ product.get_margin  }}</div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="p-3 border">
                Cost
                <div class="fw-bold">${{ product.get_aliexpres }}</div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="p-3 border">
                Price
                <div class="fw-bold">${{ product.get_shopify }}</div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="p-3 border">
                Sales
                <div class="fw-bold">${{ product.aliexpress_total_sale|cool_num  }}</div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="p-3 border">
                Stores
                <div class="fw-bold">{{ product.number_of_store_selling  }}</div>
            </div>
          </div>
          <div class="col mb-2">
            <div class="p-3 border">
                Suppliers
                <div class="fw-bold">{{ product.number_of_suppliers_selling  }}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="position-relative pt-0">
	<div class="container">
		<div class="row g-4">
      <div class="col-sm-6 col-lg-6">
        <h4>Stores Selling <span class="badge bg-secondary rounded-circle">4</span></h4>
          <a class="navbar-brand" href="#">
            <img src="/docs/5.0/assets/brand/bootstrap-logo.svg" alt="" width="30" height="24" class="d-inline-block align-text-top">
            Bootstrap
          </a>
      </div>
      <div class="col-sm-6 col-lg-6">
          <h4 class="card-title mb-2">Saturation</h4>
          <div class="progress mb-2">
            <div class="progress-bar bg-success" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
          </div>
          <div class="progress mb-2">
            <div class="progress-bar bg-warning" role="progressbar" style="width: 75%" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">50%</div>
          </div>
          <div class="progress mb-2">
            <div class="progress-bar bg-danger" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">75%</div>
          </div>
      </div>
      <div class="col-sm-6 col-lg-6">
        <div class="card card-image-scale">
          <img src="{{ product.thumbnail.url }}" alt="">
          <div class="card-img-overlay d-flex flex-column p-3 p-md-4"> 
            <div>
              <a href="#" class="badge bg-info mb-2"><i class="fas fa-circle me-2 small fw-bold"></i>Covid-19</a>
            </div>
            <div class="w-100 mt-auto">
              <h4 class="text-secondary"><a href="post-single.html" class="btn-link text-reset stretched-link">Ten questions you should answer truthfully.</a></h4>
              <ul class="nav nav-divider text-secondary-force align-items-center small">
                <li class="nav-item position-relative">
                  <div class="nav-link">by <a href="#" class="stretched-link text-reset btn-link">Billy</a>
                  </div>
                </li>
                <li class="nav-item">Feb 22, 2021</li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div> 
	</div>
</section>
{% endblock content %}

{% comment %} chart js script {% endcomment %}    
{% comment %} {%block scripts%}
    <script src="{% static 'assets/js/jquery-3.3.1.min.js' %}"></script>
    <script src="{% static 'assets/js/Chart-2.8.0.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'assets/css/Chart-2.8.0.min.css' %}"/>
    <script>
      $(document).ready(function(){
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
          type: 'line',
          data: {
              labels: [{% for sale in product.sale_set.all %}'',{%endfor%}],
              datasets: [{
                  label: '# sale chart',
                  data: [{% for sale in product.sale_set.all %}{{sale.total_number_of_sale}},{%endfor%}],
                  backgroundColor: [
                      'rgba(255, 99, 132, 0.2)', 
                      'rgba(54, 162, 235, 0.2)',
                      'rgba(255, 206, 86, 0.2)',
                      'rgba(75, 192, 192, 0.2)',
                      'rgba(153, 102, 255, 0.2)',
                      'rgba(255, 159, 64, 0.2)'
                  ],
                  borderColor: [
                      'rgba(255, 99, 132, 1)',
                      'rgba(54, 162, 235, 1)',
                      'rgba(255, 206, 86, 1)',
                      'rgba(75, 192, 192, 1)',
                      'rgba(153, 102, 255, 1)',
                      'rgba(255, 159, 64, 1)'
                  ],
                  borderWidth: 1,
                  fill: false,
                  pointRadius: 0,
              }]
          },
          options: {
              scales: {
                xAxes: [{
                  display: false
                }],
                yAxes: [{
                  display: false  
                }]
              },
          },
          
        });
      });
    </script>
{%endblock scripts%} {% endcomment %}
{% comment %} end chart js script {% endcomment %}

          {% comment %} 
            <div class="col">
              <div class=" my-2">
              <canvas id="myChart" width="100%" height="75%"></canvas> 
              </div>
            </div> 
          {% endcomment %}